/* 全体のスタイル */
:root {
    --color-base: #4d4d4d;
    --color-primary: #F9BE00;
    --color-second: #DF7861;
    --color-accent: #e9eaec;
}

p {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-base);
}

html {
    font-size: 32vmin;
}

body {
    align-items: center;
    color: var(--color-base);
    display: flex;
    font-family: 'Helvetica Neue', sans-serif;
    justify-content: center;
    margin: 0px auto;
    overflow: hidden;
    text-align: center;
}

button{
    padding: 10px;
}