/* 全体のスタイル */
:root {
    --color-base: #4d4d4d;
    --color-primary: #F9BE00;
    --color-second: #DF7861;
    --color-accent: #e9eaec;
}

p {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-base);
}

html {
    font-size: 32vmin;
}

body {
    transition: background-color 0.5s;
    align-items: center;
    color: var(--color-base);
    display: flex;
    font-family: 'Helvetica Neue', sans-serif;
    justify-content: center;
    margin: 0px auto;
    overflow: hidden;
    text-align: center;
}

#number {
    font-weight: bold;
    color: var(--color-base);
    /* 数字の色 */
    padding: 20px;
    text-shadow:
        -3px -3px 3px white,
        3px -3px 3px white,
        -3px 3px 3px white,
        3px 3px 3px white;
}

#message {
    font-size: 0.1em;
    text-stroke: 1px white;
}

button {
    padding: 10px;
    cursor: pointer;
    font-size: 0.1em;
}

.settings-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 24px;
    transition: background-color 0.3s;
}

.settings-button:hover {
    background-color: #ddd;
}